<!--
  ~ Copyright © 2020 bij Het Platenhuis en Cedric Fortuin. Niks uit deze website mag zonder toestemming gebruikt, gekopieerd en/of verwijderd worden. Als je de website gebruikt ga je akkoord met onze gebruiksvoorwaarden en privacy.
  -->

<!--    ©Cedric Fortuin || 2020-->
<!--    Meta tags-->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="description" content="Het PlatenHuis - de website waar je leest over verschillende bands, artiesten en albums. Volg ons op instagram om
        om up to date te blijven."/>
<meta name="keywords"
      content="Platen, muziek, Pink Floyd, ELO, Prince, albums, Dire Straits, Supertramp, vinyl, Queen, Normaal, George Michael, Michael Jackson, Eminem, lp, cd, cassette">
<meta name="author" content="Cedric Fortuin, Leon Lammersen">
<meta name="google-site-verification" content="3RtN2T3y_4YVjvsdhceBu4iNetvqlKrhQX089BeY7Eg" />

<!--    Link tags-->
<link rel="shortcut icon" href="./assets/img/functional/song.png" type="image/x-icon"/>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
<link rel="stylesheet" href="assets/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="assets/css/custom.css">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<!--    Google ads-->
<script data-ad-client="ca-pub-5206885279475064" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!--    Functional tags-->
<title>Het PlatenHuis</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F63N0SR2NN"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-F63N0SR2NN');
</script>