<!--
  ~ Copyright © 2020 bij Het Platenhuis en Cedric Fortuin. Niks uit deze website mag zonder toestemming gebruikt, gekopieerd en/of verwijderd worden. Als je de website gebruikt ga je akkoord met onze gebruiksvoorwaarden en privacy.
  -->

<div class="row justify-content-center">
    <div class="col-2 mb-2">
        <a href="https://www.instagram.com/hetplatenhuis/" target="_blank">
            <button class="btn btn-primary btn-lg btn-default" type="button"><span class="network-name text-capitalize"
                                                                                   style="font-size: 15px;"><i class="fab fa-instagram"></i>&nbsp;instagram</span>
            </button>
        </a>
    </div>
    <div class="col-2 mb-2">
        <a href="https://www.facebook.com/hetplatenhuis" target="_blank">
            <button class="btn btn-primary btn-lg btn-default" type="button"><span class="network-name text-capitalize"
                                                                                   style="font-size: 15px;"><i class="fab fa-facebook"></i>&nbsp;Facebook</span>
            </button>
        </a>
    </div>
    <div class="col-2 mb-2">
        <a href="mailto:info@hetplatenhuis.nl">
            <button class="btn btn-primary btn-lg btn-default" type="button"><span class="network-name text-capitalize" style="font-size: 15px;"><i class="fas fa-at"></i>&nbsp;email</span>
            </button>
        </a>
    </div>
</div>