<!--
  ~ Copyright © 2020 bij Het Platenhuis en Cedric Fortuin. Niks uit deze website mag zonder toestemming gebruikt, gekopieerd en/of verwijderd worden. Als je de website gebruikt ga je akkoord met onze gebruiksvoorwaarden en privacy.
  -->

<footer>
    <div class="container text-center">
        <p>Copyright © <a href="mailto:info@hetplatenhuis.nl">HetPlatenHuis</a> || 2020</p>
        <small>Door gebruik te maken van onze website ga je akkoord met onze <a href="#contact">gebruiksvoorwaarden</a> en
            <a href="#contact">privacy</a>.</small><br>
        <small>Favicon gemaakt door <a href="https://www.flaticon.com/authors/iconixar" title="iconixar"
                                       target="_blank">iconixar</a> van <a href="https://www.flaticon.com/"
                                                                           title="Flaticon" target="_blank">
            www.flaticon.com</a></small><br>
        <small><a href="admin/index.php">Naar de admin pagina</a></small>
    </div>
</footer>