<?php include '_layouts/_layout-header.php'?>
    <div class="container-fluid">
        <section class="content-section" style="color: black;">
            <div class="container">
                <div class="col-md-12 mx-auto">


                </div>
            </div>
            <section class="content-section">
                <?php
                include_once '../config.php';
                $result = mysqli_query($link,"SELECT * FROM users WHERE USER_ID='" . $_SESSION['id'] . "'");
                $row= mysqli_fetch_array($result);

                ?>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mx-auto">
                            <div class="login-form">
                                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                                    <h3 class="text-dark mb-0">Je wachtwoord aanpassen</h3>
                                </div>
                                <div>
                                    <p><?php echo 'Hoi ' . $row['USER_FIRSTNAME'] . ', je kunt hier je wachtwoord aanpassen'?></p>
                                </div>
                                <form action="edit-password-handler.php" method="post">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="current_password">Huidige wachtwoord</label>
                                            <input id="current_password" type="text" name="currentPassword" autocomplete="off" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="password">Nieuwe wachtwoord</label>
                                            <input id="password" type="text" name="newPassword" autocomplete="off" class="form-control" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="confirm">Herhaal nieuwe wachtwoord</label>
                                            <input id="confirm" type="text" name="confirmPassword" autocomplete="off" class="form-control" required>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-outline-primary" value="Je wachtwoord bewerken">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
    </div>
<?php include '_layouts/_layout-footer.php'?>