<?php include '_layouts/_layout-header.php'
?>
    <div class="container-fluid">
        <section class="content-section" style="color: black;">
            <?php
            include_once '../config.php';
            $new_sql = mysqli_query($link, "SELECT * FROM users WHERE USER_ID ='" . $_SESSION['id'] . "'");
            $username = mysqli_fetch_array($new_sql);
            // Check connection
            if ($link === false) {
                die("ERROR: Could not connect. " . mysqli_connect_error());
            }

            if (count($_POST) > 0) {
            $result = mysqli_query($link, "SELECT * from users WHERE USER_FIRSTNAME='" . $username["USER_FIRSTNAME"] . "'");
            $row = mysqli_fetch_array($result);
            if ($_POST["currentPassword"] == $row["USER_PASSWORD"]) {
            mysqli_query($link, "UPDATE users set USER_PASSWORD='" . $_POST["newPassword"] . "' WHERE USER_FIRSTNAME='" . $username["USER_FIRSTNAME"] . "'");
            echo "<div class='col-md-10 mx-auto alert alert-success text-center'>Je wachtwoord is succesvol gewijzigd!</div>";
            } else
             echo "<div class='col-md-10 mx-auto alert alert-danger text-center'>Het huidige wachtwoord is niet correct!</div>";
            }

            ?>
        </section>
    </div>
    </div>
<?php include '_layouts/_layout-footer.php'?>